table {
    width: 100%;
    border: 1px solid #000;
    background: red;
    border-collapse: expression("separate", cellSpacing = "5px");
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
    background: #FFA38F;
    color: #000;
 }

 caption {
    padding: 0.3em;
 }
